include LICENSE
include README.md
include pyproject.toml
include setup.py
include CONTRIBUTING.md
recursive-include src *.py
recursive-include utils *.py
recursive-include test *.py
recursive-include examples *.py
recursive-include docs *.md *.rst
recursive-include rules *.md
